
/* -----------------
fonts 
--------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/*global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

:root{
   --main: #eaa023;
   --dark: #35800af6;
   --dark-light: #155815;
   --white-light: #c8c8c8;
   --white: white;
   --shadow: 00 15px rgba(85, 34, 34, 0.25);
   scroll-behavior: smooth;
}

::before,::after{
    box-sizing: border-box;
}

body{
    font-size: 16px;
    line-height: 1.5;
    background-color: grey;
    color: var(--white-light);
}
img{
    vertical-align: middle;
    max-width: 100%;
}
a{
    text-decoration: none;
    color: var(--white);
}
ul{
    list-style: none;
}
.container{
    max-width: 1170px;
   
    margin: auto;
}
p{
    font-size: 16px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
h1{
    font-weight: 700;
    color: var(--white);
}
h2{
    font-weight: 600;
    color: white;
}
h3{
    font-weight: 600;
    color: white;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}

.min-vh-100{
    min-height: 100vh;
}
.sec-padding{
    padding: 80px 0;;
}
.section-title{
    width: 100%;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 60px;
}
.section-title h2{
    text-transform: capitalize;
    font-size: 35px;
}
.section-title h2::before{
    content: attr(data-title);
    display: block;
    font-size: 44px;
    color: var(--main);
    font-family: 'Dancing Script', cursive;
}

.btn{
    display: inline-block;
    border-radius: 30px;
    text-transform: capitalize;
    font-weight: 600px;
    border: 2px solid transparent;
    transition: all .4s ease;
    font-size: 18px;
    margin-top: 10px;
    padding: 10px 30px;
    cursor: pointer;
    color: var(--main);
}
.btn-default{
    border: 2px solid var(--main);
}
.btn-default:hover{
    color: var(--white);
    background-color: var(--main);
}


@keyframes zoomIn {
    0%, 100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}
@keyframes spin01 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes pageLoader{
    0%, 100%{
        transform: translateX(-50px);
    }
    50%{
        transform: translateX(50px);
    }
}



/*header*/
.header{
    padding: 1px 10px;
    background-color: transparent;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    transition: all .4s ease;
   
}
.header.sticky{
    position: sticky;
    background-color: var(--dark-light);
    -webkit-box-shadow: 7px 10px 26px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 10px 26px -5px rgba(0,0,0,0.75);
    box-shadow: 7px 10px 26px -5px rgba(0,0,0,0.75);
}

.header .logo{
    min-height: 34px;
    display: flex;
    align-items: center;
    padding: 15px;
}
header .nav-toggler{
    height: 34px;
    width: 44px;
    margin-right: 15px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .nav-toggler.active{
    position: absolute;
    right: 0;
    z-index: 1;
    transition: all .4s ease;
    transform: translateX(-200px);
}

.header .nav-toggler span{
    height: 2px;
    width: 30px;
    display: block;
    background-color: var(--white);
    position: relative;
}

.header .nav-toggler span::before,
.header .nav-toggler span::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--white);

}
.header .nav-toggler span::before{
    transform:translateY(-8px);
}
.header .nav-toggler span::after{
    transform:translateY(8px);
}

.header .nav{
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 280px;
    background-color: var(--dark-light);
    box-shadow: var(--shadow);
    /* overflow-y: auto; */
    padding: 80px 0 40px;
    /*responsive*/
    transition: all .4s ease;
    transform: translateX(100%);
}
.header .nav.open{
    transform: translateX(0%);
    -webkit-box-shadow: -5px 2px 15px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 2px 15px 1px rgba(0,0,0,0.75);
    box-shadow: -5px 2px 15px 1px rgba(0,0,0,0.75);
}

.header .nav ul li a{
    display: block;
    color: var(--white);
    padding: 10px 30px;
    font-size: 18px;
    text-transform: capitalize;
    transition: all .4s ease;
    letter-spacing: 3px;
}
.header .nav ul li a:hover{
    color: var(--main);
}

/*home section*/
.home-section{
    overflow: hidden;
    position: relative;
    background-color: rgba(8, 8, 8, 0.692);
}

.home-bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../img/home-bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    z-index: -2;
    animation: zoomIn 10s ease infinite;
}
.home-section .min-vh-100{
    padding: 100px 0;
}
.home-text{   
    max-width: 700px;
    width: 100%;
    margin: auto;
    text-align: center;
} 
.home-text h1{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}
/*about section*/
.about-section{
    background-color: var(--dark-light);
}
.about-section h3{
    font-size: 26px;
}

.about-text, .about-img{
    width: 50%;
    padding: 0 15px;
    min-width: 400px;
}
.about-img .img-box{
    position: relative;
}
.about-img .img-box h3{
    font-family: 'Dancing Script', cursive;
    position: absolute;
    color: var(--dark);
   /*  background-color: var(--dark); */
    left: 50%;
    top: 50%;
    max-width: 250px;
    text-align: center;
    transform: translate(-50%, -50%);
}
.about-img .img-box::before{
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border: 3px solid var(--main);
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    animation: spin01 10s linear infinite;
}
.about-img img{
    width: 100%;
    border-radius: 20px;
}



/*menu section*/
.menu-section{
    background-color: var(--dark);
}
.menu-tabs{
    width: 100%;
    text-align: center;
    padding: 0 15px;
}

.menu-tab-item{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--white);
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 10px 10px;
    transition: all .4s ease;
    margin-bottom: 50px;
    display: inline-block;
}

.menu-tab-item.active{
    color: var(--main);
}
.menu-tab-content{
    display: none;
}
.menu-tab-content.active{
    display: flex;
}
.menu-item{
    width: 50%;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.menu-item:hover .menu-item-title h3{
    color: var(--main);
}

.menu-item-title{
    display: flex;
    align-items: center;
}

.menu-item-title h3{
  font-size: 18px;
  text-transform: capitalize;
}

.menu-item-title img{
    max-width: 100px;
    margin-right: 15px;
}
.menu-item-price{
    color: var(--main);
}
.menu-item-price{
    font-size: 22px;
}


/*testimonials*/
.testimonials-section{
    background-color: var(--dark-light);
    padding-bottom: 50px;
}
.testi-item{
    width:calc((100% / 3) - 30px);
    margin: 0 15px 30px;
    border: 2px solid var(--dark);
    padding: 10px;
    border-radius:8px;
    box-shadow: var(--dark-light);
    min-width: 250px;
}

.testi-author{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 5px;
   
   
}

.testi-author-name{
    width:50%;
}
.testi-author-img{
    width:50%;
}
.testi-author img{
    max-width: 120px;
    border-radius:50%;
    border: 3px solid var(--dark);
   
}

/*team section*/

.team-section{
    background-color:var(--dark); 
    padding-bottom: 100px;
}

.team-item{
    width: calc(100% / 3);
    padding: 0 15px;
    position: relative;
    min-width: 350px;
    padding-top: 55px;
   
}
.team-item h2{
    font-size:22px;
}
.team-item img{
    width: 100%;
    border-radius: 10px;
    transition: all 0.5s ease;

}
.team-item-info{
    background-color: var(--dark-light);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    position: absolute;
    left:30px;
    right:30px;
    bottom:0;
    transform: translateY(50%);
    transition: all 0.5s ease;
}

.team-item:hover .team-item-info{
    transform: translateY(2px);
    background-color: var(--main)
}
.team-item:hover img{
    transform: scale(0.95)
}

/*footer*/
.footer{
    padding: 80px 0;
    background-image: url('../img/footer-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    z-index: -1;
}
.footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(36, 34, 34, 0.644);
    z-index: -1;
}

.footer-item{
    width: calc(100% / 3);
    padding: 15px;
    text-align: center;
    min-width: 250px;
}
.footer h3{
    color: white;
    font-size:20px;
}


.footer .copy{
    height:100%;
    width:100%;
    display:flex;
    flex-direction:column;
    margin-top: 50px;
    padding-top: 30px;
    border-top: 1px solid white;
    align-items:center;
    justify-content:center;
}

/*page loader*/

.page-loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    z-index: 999;
    transition: all 2s ease;
}

.page-loader::before{
    content: '';
    position: absolute;
    height:4px;
    width: 100px;background-color: var(--main);
    left:calc(50% - 50px);
    top:calc(50% - 2px);
    animation: pageLoader 1s linear infinite;
}

.page-loader.fade-out{
    opacity: 0;
}
